<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{site.title}}</title>
</head>
<body>
    {{ content }}
    <h4>Projects</h4>
    {% for project in site.projects %}
    <a href="{{ project.url }}">{{ project.name }}</a>
    {% endfor %}
    <h4>Members</h4>
    <ul>
        {% for member in site.data.members %}
        <li>
            <a href="https://github.com/{{ member.github }}">
                {{ member.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>